* {
    margin: 0;
    padding: 0;
}
h1 {
    color: white;
}
body {
    background-color: black;
}

strong {
    display: flex;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
}

footer {
    color: white;
}

.nao-metal {
    color: greenyellow;
    border: 3px solid greenyellow;
    background-color: black;
    display: flex;
    flex-direction: column;
    margin-right: 1170px;
    margin-left: 10px;
    gap: 10px 30px;
    justify-content: space-between;
}
.gas-nobre {
    display: flex;
    background-color: black;
    border: 3px solid red;
    color: red;
    flex-direction: column;
    margin-right: 1170px;
    margin-left: 10px;
    gap: 10px 30px;
}




